.title__logo {
  display: grid;
  grid-template-areas: "fleche logo .";
  grid-template-columns: 1fr auto 1fr;
  a {
    grid-area: fleche;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

i.fa-arrow-left {
  font-size: 20px;
}
img {
  object-fit: cover;

  width: 100%;
}
.card__info {
  display: flex;
  justify-content: space-between;
  position: relative;
}

header {
  height: auto;
  background-color: white;

  figure {
    width: 100vw;
  }
  img {
    height: 300px;
  }
}

.card__2 {
  height: 300px;
}

.title__item {
  h3 {
    
    font-weight: bold;
    font-family: "shrikhand", sans-serif;
  }
}
