@import "../src/partials/utils/mixins.scss";

header {
  background-color: lighten($tertiary, 20);

  p {
    text-align: center;
    
  }
}
/**
  header{
    background-color: lighten($tertiary, 20);
    height: 300px;
    
  }**/

.logo {
  display: flex;
  justify-content: center;
  color: black;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}
.place {
  display: flex;
  background-color: #eaeaea;
  border-top: 4px solid linear-gradient(#eaeaea,#e4e4e4);
  border-bottom: 4px solid linear-gradient(#eaeaea,#e4e4e4);
  justify-content: center;
  padding: 10px;
  align-content: baseline;
  .fas {
    font-size: 15px;
  }
}
.fas {
  margin-right: 10px;
}
.accroche_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  justify-content: space-between;
  height: 175px;
}

/**
  a{
   color:black;
   text-decoration: none;
  }
  **/
//   .title_logo{
//    display: grid;
//   grid-template-areas:  "fleche logo .";
//  grid-template-columns: 1fr auto 1fr;  
//   a{
//     grid-area: fleche ;
//     display:flex;
//     justify-content: center;
//     align-items:center;
//  }





//   }
.btn {
  display: flex;
  align-content: flex-end;
  font-size: 17px;
  padding: 10px;
  margin-top: 20px;
  color: white;
  border-radius: 20px;
  border-color:#f6f6f6;
  -webkit-appearance: none;
  @include gradient-vertical($secondary, $primary);

  &:hover {
    @include gradient-vertical($primary,$secondary,);
    box-shadow: 0px 5px 10px black;
  }
}
.descript {
  font-size: 25px;
  text-align: center;
  margin-top:40px;
}
.menu__descript {
  height: 200px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.btn__menu {
  display: flex;
  align-items: center;
  // position:relative;
  // text-align: center;
  font-weight: bold;
  border-radius: 20px;
  width: 300px;
  // justify-content: center;
  box-shadow: 2px 2px 2px #e4e4e4;
  border: 1px solid #e4e4e4;
  height: 50px;
  background-color: #f6f6f6;; // #f5edff;
  &:hover {
    background-color: #f5edff; //#9356dc;
    // opacity:0.7;
  }

  .circle {
    height: 23px;
    width: 23px;
    // position: absolute;
    // right: 287px;
    background: #9356dc;
    text-align: center;
    color: white;
    border-radius: 50%;
    margin-left: -0.6rem;
    padding: 0.15rem;
  }
  .fas {
    color: gray;
    font-size: 15px;
    // padding-right: 20px;
    display: flex;
    justify-content: center;
    width: 4rem;
    &:hover {
      color: #9356dc;
    }
    // padding:10px;
  }
}

// .fas:hover{
//   color:lighten($primary, 5)
// }


.menu__explorez{
 background-color: #f6f6f6;
 height:240px;
}

