.title__logo{
  display:flex;
justify-content: space-around;
  align-items: baseline;
 

}
.logo{
  text-align: center;
}

i.fa-arrow-left{
  font-size:20px;
  

 
}
img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    
    
    
   
    
  }
  .card__info{
    display: flex;
    justify-content: space-between;
    position: relative;;
    border-radius: 0px;
         
    }

    header{
        height:auto;
        background-color: white;
    }