$largeurCoche: 4rem;
$largeurPrix: 3rem;
$largeurSpan: #{$largeurCoche + $largeurPrix};

@mixin animationLargeur {
  transition: width 1s;
}

.plat__info {
  
  // margin-top: 10px;
  // margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  background-color:#ffffff;
  border-radius: 10px;
  
  border: 1px solid #e4e4e4;
  height: 60px;
  width: 20rem;
  display: flex;
  overflow: hidden;
  animation: fadein 5s forwards;
  transition-delay: 5s;
  opacity: 0;
  margin-top: auto;
  margin-bottom: 20px;
  box-shadow: 0 0 6px 3px #b1b1b14b;




  @for $i from 1 through 15 {
    &:nth-of-type(#{$i}) {
      animation-delay: $i * 0.5s;
    }
  }
  
  .plat__info__titre {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - #{$largeurPrix});
    @include animationLargeur;
  }

  .fa-check-circle {
    font-size: 30px;
    color: white;
    align-self: center;
    margin: auto;
  }

  
    p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    width: 100%;
    
    padding-left:0.4rem;


  
  }

  h5{
    font-weight: bold;
    padding-top:0.5rem;
    
    padding-left:0.3rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;



  }



  .price {
    
    margin-left: auto;
    font-size: 1rem;
    font-weight: bold;
    width: $largeurPrix;
    display: flex;
    justify-content: center;
    align-self:center;
    padding-top:0.9rem;
  }

  .font {
    width: 0;
    overflow: hidden;
    @include animationLargeur;
  }

  &:hover {
    span {
      width: calc(100% - #{$largeurSpan});
    }

    .font {
      width: $largeurCoche;
      .fa-check-circle {
        animation: wrench 700ms ease-in-out;
      }
    }

    .font {
      width: 4rem;
     
      background-color: #99e2d0;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0px 10px 10px 0px;
    }
  }
}



@keyframes wrench {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  30% {
    -webkit-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  60% {
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
  65% {
    -webkit-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }

  75% {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  85% {
    -webkit-transform: rotate(-100deg);
    -ms-transform: rotate(-100deg);
    transform: rotate(-100deg);
  }

  100% {
    -webkit-transform: rotate(-110deg);
    -ms-transform: rotate(-110deg);
    transform: rotate(-110deg);
  }
}

@keyframes fadein {
  /* sur Safari et Chrome */
  from {
    // margin-top: 30px;
    opacity: 0;
    transform:translateY(-50%);
  }
  to {
    // margin-top: 10px;
    opacity: 1;
    transform: translateY(0%);
  }
}
// 900
@media screen and (min-width: 900px) {
  .menu__details {
    display: flex;
    justify-content: space-between;
  }
}
.card__info {
  display: flex;
}

// h4::after{
//   content: "";
//   display: flex;
//   justify-content: space-evenly;
//   background-color:$tertiary ;
//   width:2rem;
//   height:4px;
// }


h4::after{
  @media screen and (min-width: 1024px) {
  width:100%;
  transition: all 1s;
  background-color:#7e7e7e ;
}
}