// 1024

h3 {
  font-size: 20px;
  font-weight: bold;
}
.menu__details{
  h4{
    text-transform: uppercase;
    padding-top:1.5rem;
    
  }
}

h4::after{
  content: "";
  display: flex;
  justify-content: space-evenly;
  background-color:$tertiary ;
  width:2rem;
  height:4px;
  margin-top:0.2rem;
  margin-bottom:1.5rem;
}








.menu__item {
  @media screen AND (min-width: 1024px) {
    display: flex;
    justify-content: space-evenly;
    h4 {
      width: 100%;
      text-align: center;
    }

    .menu__details {
      width: 33%;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1000px) {
  .menu__item {
    
    justify-content: center;
   
  }
  .menu__details {
    display: flex;

    justify-content: space-between;
  }
}



.title__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

main {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  padding: 20px;
  margin-bottom: 20px;
  // position: relative;
  margin-top: -130px;
 



 
}

.btn__command {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 17px;
  padding: 10px;
  margin: auto;
  // margin-left: auto;
  // margin-right: auto;
  // margin-bottom: 40px;

  color: white;
  border-color: #f6f6f6;
  border-radius: 20px;

  @include gradient-vertical($secondary, $primary);

  &:hover {
    @include gradient-vertical($primary, $secondary);
    box-shadow: 0px 5px 10px black;
  }
}
