i.fa-heart {
  font-size: 20px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 2.5rem;
  color: black;
  &:hover {
    background: -webkit-linear-gradient($primary, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    background-position-y: 4rem;
    animation: position 2s forwards;
  }
}

@keyframes position {
  from {
    background-position-y: 4rem;
  }
  to {
    background-position-y: 2.75rem;
  }
}
