@import "../src/partials/utils/mixins.scss";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$radius: border-radius 20px;

body {
  margin: 0;
  font-family: "roboto", sans-serif;
  min-height: 100vh;
  display: grid;
  background-color: #f6f6f6;
  width: 100%;

  @media screen AND (min-width: 1024px) {
    margin: auto;
  }
}

a {
  color: black;
  text-decoration: none;
}

.restaurant {
  font-weight: bold;
  font-size: 1.5rem;

  grid-column: 1/-1;
  margin-top: 40px;
}
.card {
  height: 270px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px #e4e4e4;
  display: grid;
  grid-template-areas: "figure figure" "hgroup coeur";
  grid-template-columns: auto 3.5rem;
  img {
    border-radius: 1rem 1rem 0 0;
  }
}
figcaption {
  margin-top: 20px;
  font-weight: bold;
  color: black;
}
.grid__container {
  background-color: #f6f6f6;
  padding-bottom: 60px;
  gap: 40px;
  display: grid;
  padding: 0.5rem;
}

@media screen and (min-width: 660px) {
  .menu__descript {
    margin-bottom: 40px;
  }
  .grid__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .menu__details {
    align-content: flex-start;
    flex-direction: column;
  }
  body {
    padding: 0;
  }
}

@media screen and (min-width: 800px) {
  .menu__details {
    align-content: center;
    flex-direction: column;
  }

  .grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 40px;
  }

  .footer__info {
    margin-left: auto;
  }
}

@media screen and (min-width: 1000px) {
  .menu__details {
    flex-direction: column;
  }
}

@media screen and (min-width: 1000px) {
  .menu__descript {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .menu__descript {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .menu {
    background-color: #f6f6f6;
  }
}
