/**
 *
 * This mixin will permit to display a colored background image following the 
 * browser capacity, if not any an alternative image is displayed. If not any alternative
 * image is given, the image is used as alternative as well 
 */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  margin: 0;
  font-family: "roboto", sans-serif;
  min-height: 100vh;
  display: grid;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    body {
      margin: auto; } }

a {
  color: black;
  text-decoration: none; }

.restaurant {
  font-weight: bold;
  font-size: 1.5rem;
  grid-column: 1/-1; }

.card {
  height: 270px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px #e4e4e4;
  display: grid;
  grid-template-areas: "figure figure" "hgroup coeur";
  grid-template-columns: auto 3.5rem; }
  .card img {
    border-radius: 1rem 1rem 0 0; }

figcaption {
  margin-top: 20px;
  font-weight: bold;
  color: black; }

.grid__container {
  background-color: #f6f6f6;
  margin-top: 100px;
  padding-bottom: 60px;
  gap: 40px;
  display: grid;
  padding: 1rem; }

@media screen and (min-width: 660px) {
  .menu__descript {
    margin-bottom: 40px; }
  .grid__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px; }
  .menu__details {
    align-content: flex-start;
    flex-direction: column; }
  body {
    padding: 0; } }

@media screen and (min-width: 800px) {
  .menu__details {
    align-content: center;
    flex-direction: column; }
  .grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px; }
  .footer__info {
    margin-left: auto; } }

@media screen and (min-width: 1000px) {
  .menu__details {
    flex-direction: column; } }

@media screen and (min-width: 1000px) {
  .menu__descript {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px; } }

@media screen and (min-width: 1060px) {
  .menu__descript {
    display: grid;
    grid-template-columns: 1fr; }
  .grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 90px 0px 90px 0px; }
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f6f6f6; } }

h3 {
  font-size: 20px;
  font-weight: bold; }

.menu__details h4 {
  text-transform: uppercase;
  padding-top: 1.5rem; }

h4::after {
  content: "";
  display: flex;
  justify-content: space-evenly;
  background-color: #99e2d0;
  width: 2rem;
  height: 4px;
  margin-top: 0.2rem;
  margin-bottom: 1.5rem; }

@media screen and (min-width: 1024px) {
  .menu__item {
    display: flex;
    justify-content: space-evenly; }
    .menu__item h4 {
      width: 100%;
      text-align: center; }
    .menu__item .menu__details {
      width: 33%;
      justify-content: center; } }

@media screen and (min-width: 1000px) {
  .menu__item {
    justify-content: center; }
  .menu__details {
    display: flex;
    justify-content: space-between; } }

.title__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

main {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  margin-top: -130px; }

.btn__command {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 17px;
  padding: 10px;
  margin: auto;
  color: white;
  border-color: #f6f6f6;
  border-radius: 20px;
  background-color: #d46bdb;
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF79DA', endColorstr='#FF9356DC', GradientType=0); }
  .btn__command:hover {
    background-color: #be64db;
    background-image: linear-gradient(to bottom, #9356dc, #ff79da);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9356DC', endColorstr='#FFFF79DA', GradientType=0);
    box-shadow: 0px 5px 10px black; }

i.fa-heart {
  font-size: 20px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 2.5rem;
  color: black; }
  i.fa-heart:hover {
    background: -webkit-linear-gradient(#9356dc, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    background-position-y: 4rem;
    -webkit-animation: position 2s forwards;
    animation: position 2s forwards; }

@-webkit-keyframes position {
  from {
    background-position-y: 4rem; }
  to {
    background-position-y: 2.75rem; } }

@keyframes position {
  from {
    background-position-y: 4rem; }
  to {
    background-position-y: 2.75rem; } }

footer {
  background-color: black;
  color: white;
  margin-top: 50px; }
  footer h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 20px; }
  @media screen and (min-width: 1024px) {
    footer {
      margin-top: 1rem; } }
  footer a {
    color: white; }

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15px; }

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-content: center; }

@media screen and (min-width: 900px) {
  .footer__info {
    display: flex;
    align-content: center; }
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px; }
  li {
    display: flex;
    align-items: center; } }

.fas {
  font-size: 10px; }

.plat__info {
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  height: 60px;
  width: 20rem;
  display: flex;
  overflow: hidden;
  -webkit-animation: fadein 5s forwards;
  animation: fadein 5s forwards;
  opacity: 0;
  margin: auto;
  box-shadow: 0 0 6px 3px #b1b1b14b; }
  .plat__info:nth-of-type(1) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  .plat__info:nth-of-type(2) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  .plat__info:nth-of-type(3) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s; }
  .plat__info:nth-of-type(4) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }
  .plat__info:nth-of-type(5) {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s; }
  .plat__info:nth-of-type(6) {
    -webkit-animation-delay: 3s;
    animation-delay: 3s; }
  .plat__info:nth-of-type(7) {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s; }
  .plat__info:nth-of-type(8) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s; }
  .plat__info:nth-of-type(9) {
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s; }
  .plat__info:nth-of-type(10) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s; }
  .plat__info:nth-of-type(11) {
    -webkit-animation-delay: 5.5s;
    animation-delay: 5.5s; }
  .plat__info:nth-of-type(12) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s; }
  .plat__info:nth-of-type(13) {
    -webkit-animation-delay: 6.5s;
    animation-delay: 6.5s; }
  .plat__info:nth-of-type(14) {
    -webkit-animation-delay: 7s;
    animation-delay: 7s; }
  .plat__info:nth-of-type(15) {
    -webkit-animation-delay: 7.5s;
    animation-delay: 7.5s; }
  .plat__info .plat__info__titre {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 3rem);
    transition: width 1s; }
  .plat__info .fa-check-circle {
    font-size: 30px;
    color: white;
    align-self: center;
    margin: auto; }
  .plat__info p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    width: 100%;
    padding-left: 0.4rem; }
  .plat__info h5 {
    font-weight: bold;
    padding-top: 0.5rem;
    padding-left: 0.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .plat__info .price {
    margin-left: auto;
    font-size: 1rem;
    font-weight: bold;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 0.9rem; }
  .plat__info .font {
    width: 0;
    overflow: hidden;
    transition: width 1s; }
  .plat__info:hover span {
    width: calc(100% - 7rem); }
  .plat__info:hover .font {
    width: 4rem; }
    .plat__info:hover .font .fa-check-circle {
      -webkit-animation: wrench 700ms ease-in-out;
      animation: wrench 700ms ease-in-out; }
  .plat__info:hover .font {
    width: 4rem;
    background-color: #99e2d0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px; }

@-webkit-keyframes wrench {
  0% {
    transform: rotate(0deg); }
  30% {
    transform: rotate(-15deg); }
  30% {
    transform: rotate(-25deg); }
  50% {
    transform: rotate(-45deg); }
  60% {
    transform: rotate(-60deg); }
  65% {
    transform: rotate(-80deg); }
  75% {
    transform: rotate(-90deg); }
  85% {
    transform: rotate(-100deg); }
  100% {
    transform: rotate(-110deg); } }

@keyframes wrench {
  0% {
    transform: rotate(0deg); }
  30% {
    transform: rotate(-15deg); }
  30% {
    transform: rotate(-25deg); }
  50% {
    transform: rotate(-45deg); }
  60% {
    transform: rotate(-60deg); }
  65% {
    transform: rotate(-80deg); }
  75% {
    transform: rotate(-90deg); }
  85% {
    transform: rotate(-100deg); }
  100% {
    transform: rotate(-110deg); } }

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    margin-top: 30px;
    opacity: 0; }
  to {
    margin-top: 10px;
    opacity: 1; } }

@keyframes fadein {
  /* sur Safari et Chrome */
  from {
    margin-top: 30px;
    opacity: 0; }
  to {
    margin-top: 10px;
    opacity: 1; } }

@media screen and (min-width: 900px) {
  .menu__details {
    display: flex;
    justify-content: space-between; } }

.card__info {
  display: flex; }

@media screen and (min-width: 1024px) {
  h4::after {
    width: 100%;
    transition: all 1s;
    background-color: #7e7e7e; } }

/**
 *
 * This mixin will permit to display a colored background image following the 
 * browser capacity, if not any an alternative image is displayed. If not any alternative
 * image is given, the image is used as alternative as well 
 */
header {
  background-color: #e8f9f5; }

.accroche_title p:first-child {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 1rem; }

.accroche_title p {
  text-align: center;
  white-space: pre-line; }

.logo {
  display: flex;
  justify-content: center;
  color: black;
  font-family: "Shrikhand", cursive;
  font-size: 30px; }

.place {
  display: flex;
  background-color: #eaeaea;
  border-top: 4px solid linear-gradient(#eaeaea, #e4e4e4);
  border-bottom: 4px solid linear-gradient(#eaeaea, #e4e4e4);
  justify-content: center;
  padding: 10px;
  align-content: baseline; }
  .place .fas {
    font-size: 15px; }

.fas {
  margin-right: 10px; }

.accroche_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  justify-content: space-between;
  height: 175px; }

.btn {
  display: flex;
  align-content: flex-end;
  font-size: 17px;
  padding: 10px;
  margin-top: 20px;
  color: white;
  border-radius: 20px;
  border-color: #f6f6f6;
  -webkit-appearance: none;
  background-color: #d46bdb;
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF79DA', endColorstr='#FF9356DC', GradientType=0); }
  .btn:hover {
    background-color: #be64db;
    background-image: linear-gradient(to bottom, #9356dc, #ff79da);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9356DC', endColorstr='#FFFF79DA', GradientType=0);
    box-shadow: 0px 5px 10px black; }

.descript {
  font-size: 25px;
  text-align: center;
  margin-top: 40px; }

.menu__descript {
  height: 200px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.btn__menu {
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: 20px;
  width: 300px;
  box-shadow: 2px 2px 2px #e4e4e4;
  border: 1px solid #e4e4e4;
  height: 50px;
  background-color: #f6f6f6; }
  .btn__menu:hover {
    background-color: #f5edff; }
    .btn__menu:hover .fas {
      color: #9356dc; }
  .btn__menu .circle {
    height: 23px;
    width: 23px;
    background: #9356dc;
    text-align: center;
    color: white;
    border-radius: 50%;
    margin-left: -0.6rem;
    padding: 0.15rem; }
  .btn__menu .fas {
    color: gray;
    font-size: 15px;
    display: flex;
    justify-content: center;
    width: 4rem; }

.menu__explorez {
  background-color: #f6f6f6;
  height: 240px; }

.title__logo {
  display: grid;
  grid-template-areas: "fleche logo .";
  grid-template-columns: 1fr auto 1fr; }
  .title__logo a {
    grid-area: fleche;
    display: flex;
    justify-content: center;
    align-items: center; }

i.fa-arrow-left {
  font-size: 20px; }

img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%; }

.card__info {
  display: flex;
  justify-content: space-between;
  position: relative; }

header {
  height: auto;
  background-color: white; }
  header figure {
    width: 100vw; }

.card__2 {
  height: 300px; }

.title__item h3 {
  font-style: italic;
  font-weight: bold; }

.loader__container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: disparition 3s forwards;
  animation: disparition 3s forwards;
  overflow: hidden; }

.loader__circle {
  border: 16px solid transparent;
  /* Light grey */
  border-top: 16px solid #99e2d0;
  /* Blue */
  border-bottom: 16px solid #9356dc;
  border-right: 16px solid #ff79da;
  border-left: 16px solid #7e7e7e;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center; }

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes disparition {
  0% {
    height: 100%; }
  99% {
    height: 100%; }
  100% {
    height: 0; } }

@keyframes disparition {
  0% {
    height: 100%; }
  99% {
    height: 100%; }
  100% {
    height: 0; } }

img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 200px;
  width: 100%; }

section figure {
  grid-area: figure; }

section h2 {
  font-size: 20px;
  font-weight: bold; }

section h3 {
  font-size: 16px;
  font-weight: 200; }

section hgroup {
  margin-left: 1rem;
  grid-area: hgroup; }

section .far {
  grid-area: coeur; }

article.nouveau::after {
  content: "nouveau";
  display: flex;
  justify-content: center;
  grid-area: figure;
  padding: 0.45rem;
  color: #008766;
  background-color: #99e2d0;
  width: 4rem;
  height: 2rem;
  margin-top: 30px;
  margin-left: 80%; }

/**
 *
 * This mixin will permit to display a colored background image following the 
 * browser capacity, if not any an alternative image is displayed. If not any alternative
 * image is given, the image is used as alternative as well 
 */
